.baseball {
    position: relative;
    animation: roll 6s linear infinite, spin 6s linear infinite;
}
  
@keyframes roll {
    0% {
      left: 0;
    }
    50% {
      left: 95%; 
    }
    100% {
        left: 0;
    }
}
  
@keyframes spin {
    0% {
      transform: translateY(-50%) rotate(0deg);
    }
    50% {
      transform: translateY(-50%) rotate(720deg);
    }
    100% {
        transform: translateY(-50%) rotate(-360deg);
    }
}
